.product{
    display: flex ;
    align-items: center;
    justify-content: flex-end;
    min-width: 100px;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
    flex-direction: column;
}
.product__info {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 15px;
    border: lightgrey 1px solid;
    padding: 2vw;
}
.product__price {
    margin-top: 5px ;
}
.product__rating {
    display: flex;

}
.product__image {
  cursor :pointer;
    width : 25vw;
    height : 35vw;
    object-fit:contain;

    max-height: 30vw;
    
}
.product__info > button {
    cursor :pointer;
    margin-top: 2vw;
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;

}

button:hover
{color: white}